h1 {
    /* border: 2px #eee solid; */
    color: whitesmoke;
    text-align: right;
    padding: 10px;
}

body  {
    background-image: url("/static/image/earth.jpg");
    background-color:black;
    font-family: 'Bad Script', cursive;
    font-size: 30px;
}